@media screen {
    
}

body {
    background: url(portfolioBackgroundLarge.jpg) center;
    background-color: #8b0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    margin-bottom: 20px;
}
h1 {
    padding-left: 20px;
    padding-right: 20px;
}
h2 {
    padding-left: 20px;
    padding-right: 15px;
}
.section {
    width: 65%;
    min-width: 300px;
    max-width: 700px;
    background-color: rgba(255, 255, 255, .80);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}    
p {
    padding-left: 20px;
    padding-right: 20px;
}
#photo {
    background-image: url(DerekWheelerPhoto.jpg);
    background-repeat: no-repeat;
    background-color: white;
    height: 300px;
    width: 300px;
    background-position: -27px -44px;
    border-radius: 300px;
    margin-bottom: 100px;
    border: solid white 5px;
}